.main img{
    width: 20px;
    height: 20px;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 50px;
    
}
.main h3{
    display: inline-block;
    padding-left: 220px;
    font-size: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
}.container{
    width: 100%;
    margin-left: 200px;
    margin: 80px;
}
.Item-1, .Item-2, .Item-3, .Item-4{
    display: inline-block;
    width: 150px;
}
img{
    width: 100%;
    height: 300px;
}
